---
layout: default
title: Nick Zadrozny
---
<div class="posts">
  {% for post in paginator.posts %}
    {% assign content = post.content %}
    {% include post.html %}
  {% endfor %}
<div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="prev" href="/page{{paginator.next_page}}">&larr; Older</a>
    |
  {% endif %}
  <a href="/blog/archives">Blog Archives</a>
  {% if paginator.previous_page %}
  |
  <a class="next" href="/page{{paginator.previous_page}}">Newer &rarr;</a>
  {% endif %}
</div>

<script>
  $(function() {
    console.log("initializing infinite scroll");
    $('.posts').infinitescroll({
      // selector for the paged navigation (it will be hidden)
      navSelector  : ".pagination",
      // selector for the NEXT link (to page 2)
      nextSelector : ".pagination a.prev",
      // selector for all items you'll retrieve
      itemSelector : ".posts > .post",
      // higher buffer makes the next page load sooner
      bufferPx     : 400,
      donetext     : "Congratulations, stalker! You have just read my entire blog ;-)" ,
    });
  })()
</script>
