---
layout: default
title: Nick Zadrozny
---
<div class="posts">
  {% for post in paginator.posts %}
    {% assign content = post.content %}
    {% include post.html %}
  {% endfor %}

  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="/page{{paginator.next_page}}">&larr; Older</a>
      |
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    |
    <a class="next" href="/page{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
<div>
