/*
*= require bootstrap
*= require bootstrap-responsive
*/

#site_title {
  width: 50px;
  overflow: visible;
  margin: 60px 0 0 0;
}

#site_title h1 {
  font: bold 26px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#site_title h1 a {
  text-decoration: none;
  color: inherit;
}

#site_nav {
  text-transform: lowercase;
  font-size: 0.9em;
  padding-top: 20px;
}

#site_nav li {
  line-height: 20px;
  margin-bottom: 10px;
}

.post {
  margin-bottom: 20px;
}

.post footer {
  text-align: right;
  font-size: 20px;
  line-height: 20px;
}

.post.quote blockquote {
  font-size: 20px;
  line-height: 20px;
}

.post.link h5 {
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}

